/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-09-2017, 12:20:00
    Author     : Ejer
*/
p {
    color: #eca979; /*Find en cream farve*/
}

/* Forklaring til menuen http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */

.top_menu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:2px solid #000;
   overflow:hidden;
   position:relative;
   margin-bottom: 20px;
}

.top_menu ul {
   clear:left;
   float:left;
   list-style:none; /*Fjerner bullet points*/
   margin:0; /*Denne og næste linje fjerner browserens default indstillinger*/
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

.top_menu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

.top_menu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:6px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}

.top_menu ul li a:hover {
   background:#864313;
   color:#eca979; /*text color*/
}

.top_menu ul li a.active,
.top_menu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

#logo {
    width: 30%;
    
}

#span-logo ul li a {
    background: white;
}


.flex-container {
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    /*align-items: center; */    /* center items vertically, in this case */
    
    width: 50%;
    height: 400px;
    margin: 30px;
    padding: 20px;
    border-style: solid;
    border-color: #592d0d; /* Find en dark brown farve*/
    background-color: #864313; /* Find en chocolate brown farve */
    margin: auto;
}

#box {
    margin: auto;
    /*justify-content: center; TODO Få de 2 kolonner i formen til at aligne lodret
    align-self: center;
    align-items: center;
    */
}


.somewhereelse{
        
}

/*
title
{
    font-family: cursive ;
    background-color: lightseagreen;
    background-image: url(http://46.101.179.58/Cupcake%2D1.0%2DSNAPSHOT/images/fasching-cupcakes-rezept-img-19761.jpg);
}
head
{
    background-color: transparent;
  
}


section {
    display: inline-block;
    width: 80%;
    border-color: black;
    border-width: 20px;
    
}

body{
    
    width: 100%;
    background-color: transparent;
    padding: 16px;
    border-width: 10px;
    border-color:darkolivegreen;
    align-content: stretch;

}
main{
    background-color:  transparent;
    text-align: justify;
    width: 80%;
    padding: 16px;
    border-width: 10px;
    border-color:darkolivegreen;
    align-content: stretch;
}
nav{
    background-color: transparent;
}  

footer {
    background-color: transparent;
   
}
h4{
    color: chartreuse;
}
h2{
    color: chocolate;
    
}

h3{
    color: chartreuse;
}*/

